
/* GLOBAL STYLES */
body {
  font-family: century-gothic, sans-serif;
  text-align: center;
  margin: 0;
}
.container {
  display: grid;
   grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.grid-item {
  padding:5%;
}

h1 {
  font-size: 50px;
  font-weight: 300;
  text-transform: uppercase;
}
h2 {
  color: black;
  font-size: 35px;
  font-weight: 400;
  text-transform: uppercase;
}
h3 {
  font-size: 22px;
  line-height: 1.5;
  font-weight:500;
  margin: 0 auto;
}

.green-header {
  color: #00C7B1;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 20px;
}
.header-line {
  width: 70%;
  color: teal;
  border-top: 1px solid #00C7B1;
  margin: 10px auto;
}

li {
  list-style: none;
  margin: 7px 0;
  text-align: left;
}


/* SECTION 1 - BANNER */
.banner {
  height: auto;
  padding:2% 5% 6%;
  background-image: url('assets/banner.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}
.down-arrow {
  width: 50px;
  margin-top: 5%;
}

.logo {
  width: 175px;
  margin: 10px auto 5%;
}

/* SECTION 2 - SECTORS */
.sectors {
  text-align: center;
  padding: 6% 2% 12%;
  background-color: #ebebeb;
}
.icon {
  height: 62px;
  display: block;
  margin: 20px auto;
}

.green {
  color: #00C7B1;
}

/* SECTION 3 - MAP AREA */
.areas {
  text-align: center;
  padding: 6% 15%;
}
#us-map {
  border: 2px solid #ebebeb;
  padding: 5%;
  width: 91%;
  margin: 0 auto;
  display: block;
}

#MN, #MO, #KS, #IN, #PA, #MI, #OH, #WI, #NY {
  fill: #00C7B1;
}
#MN:hover, #MO:hover, #KS:hover, #IN:hover, #PA:hover, #MI:hover, #OH:hover, #WI:hover, #NY:hover {
  fill: #68e8cf;
}
#info-box {
  display: none;
  padding: 10px;
  top: 50px;
  left: 50px;
  position: absolute;
  background-color: #ffffff8a;
  color: black;
  border: 1px dashed #7c7979;
  width: 200px;
  min-height: 50px;
}
#info-box p {
  font-size: 14px;
}

#info-box h5 {
  margin: 5px 0;
}

/* SECTION 4 - CONTACT */
.contact {
  position: relative;
  padding: 6%;
  background-image:url('assets/footer-banner.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.form-success {
  width: 100%;
  padding: 20px;
  position: absolute;
  visibility: hidden;
  top: 0;
  right: 0;
  background-color: #58c8b2;
}
.contact p {
  line-height: 1.5;
  margin: 30px 0;
  line-height: 1.5;
  margin: 30px auto;
  max-width: 60%;
}

input, textarea {
  background-color: transparent;
  border: 1px solid black;
  padding: 7px;
  margin: 10px 5px;
  width: 100%;
}


textarea {
  resize: none;
  overflow-y: scroll;
  height: auto;
  min-height: 100px;
}
.form-group {
  width: 30%;
  text-align: left;
  display: block;
  margin: 10px auto;
}
.submit-button {
  background-color: #00C7B1;
  padding: 12px;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  border: none;
  margin-left:5px;
}

.footer {
  background-color: #373939;
  color: white;
  padding: 2%;
  text-align: left;
}




/* Media Queries */

@media (max-width: 640px){
.banner {
  padding: 3% 1% 150px;
}
.logo {
  margin-bottom: 50px;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 14px;
}
.green-header {
  font-size: 10px;
}
.areas {
  padding: 6% 0;
}
.map {
  padding:2%;
  margin: 5% auto;
}
p, label {
  font-size: 14px;
}
.form-group {
  width:80%;
}
.contact p {
max-width: 90%;
}

}

@media (max-width: 1024px){
h1 {
  font-size:40px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 18px;
}
li {
  font-size: 15px;
}
.green-header {
  font-size: 22px;
}
.down-arrow {
  width: 35px;
}
p {
  font-size: 15px;
}
}

@media (max-width: 1200px){
  h3 {
    max-width: 100%;
  }
  .areas {
    padding:6% 9%;
  }
}
